.carte {
    max-width: 450px;
    border: black 1px solid;
    display: flex;
    flex-direction: column;
}
.photo {
    width: 450px;
    height: auto;
}


.texte{
    max-width: 450px;
    max-height: 350px;
    text-align: center;
}
